<h1>Welcome</h1>
<div class="row">
  <div class="row">
    <div class="input-field col s12">
      <textarea id="json" class="materialize-textarea"></textarea>
      <label for="textarea1">JSON</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" id="search">
      <label for="search">Поисковой ключ</label>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <button class="btn" id="btn">Отправить</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="card-panel teal lighten-2 scale-transition scale-out" id="path"></div>
</div>